/* ==================== WRAPPER ==================== */
.wrapper {
  width: 100%;
  position: relative;
}

/* =========== MV SECTION =========== */
section.mv_section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.mv_area {
  width: 100%;
  height: 100vh;
  min-height: 790px;
  z-index: -100;
  display: flex;
  align-content: center;
  position: absolute;
  top: -113px;
  background: url(../images/index/main_visual_3.jpg) no-repeat;
  background-size: cover;
}

.mv_text_area {
  z-index: var(--z-fixed);
  position: absolute;
  top: 8vh;
  left: 10%;
}

.mv_text_area > h2 {
  font-family: var(--mv-font);
  font-size: 4rem;
  font-weight: 200;
  line-height: 5rem;
  letter-spacing: -0.1rem;
  color: var(--main-color-dark);
}

.mv_text_area p {
  position: relative;
  top: -30px;
  left: 5px;
  font-size: var(--small-font-size);
  color: var(--main-color-dark);
}

.mv_text_area > .clrBtn {
  font-size: var(--small-font-size);
}

/* =========== PRODUCTS SECTION =========== */
.products_section {
  box-sizing: content-box;
  padding: 3rem 0;
  width: 100%;
  height: 750px;
  position: relative;
  margin-bottom: var(--mb-7);
}

/* 상품 탭 */
.products_tabs {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto var(--mb-7);
}

.tab_title {
  width: 100%;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.tab_title.active {
  color: var(--main-color-dark);
  border-bottom: 2px solid var(--main-color-dark);
}

.tab_title.active::before {
  color: var(--main-color-dark);
}

.tab_title.newArrivals {
  width: 100%;
}

.tab_title:hover {
  border-bottom: 2px solid var(--main-color-dark);
}

.tab_title.newArrivals::before {
  content: "New Arrivals";
  font-size: var(--h2-font-size);
  font-weight: 600;
}

.tab_title.bestsellers::before {
  content: "Bestsellers";
  font-size: var(--h2-font-size);
  font-weight: 600;
}

.tab_title:hover > h3.title {
  color: var(--main-color-dark);
}

.tab_title:hover ::before {
  color: var(--main-color-dark);
}

.tab_title::before {
  display: flex;
  justify-content: center;
  font-family: var(--accent-font);
  color: var(--text-color-light);
}

.tab_title h3 {
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: 400;
}

.tab_title.newArrivals h3 {
  color: var(--main-color-dark);
}

.tab_title.bestsellers h3 {
  color: var(--text-color-light);
}

/* 상품 리스트 */
.product_items_area {
  width: 189.6vw;
  overflow: hidden;
  display: flex;
  position: relative;
  margin: 0 auto var(--mb-5);
}

.product_item {
  width: 23.7vw;
  margin: 0 var(--mb-1);
}

.product_image_wrap {
  overflow: hidden;
  border: 0.1px solid var(--main-color-dark);
}

.product_image {
  width: 100%;
  max-width: 500px;
  transition: all 0.5s;
}

.product_image:hover {
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
  transform: scale(1.05, 1.05);
}

.product_price {
  font-weight: 500;
  color: var(--main-color-dark);
}

.product_list {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
}

/* 더 보기 버튼 */
.newArrivals > .button_area {
  display: flex;
  justify-content: center;
}

a.button {
  display: inline-block;
  text-align: center;
  background-color: transparent;
}

/* ARROWS */
.arrows {
  position: absolute;
  width: 100vw;
  top: 45%;
}

.arrow.left {
  position: absolute;
  left: 5px;
}

.arrow.right {
  position: absolute;
  right: 17px;
}

/* =========== ABOUT US SECTION =========== */
.aboutUs_section {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: var(--mb-8);
}

.aboutUS.image_area {
  width: 70vw;
}

.aboutUs_section img {
  display: inline-block;
  height: 100vh;
  z-index: -100;
  box-shadow: 0 1px 6px rgba(94, 78, 31, 0.823);
  border-radius: 0 3rem 3rem 0;
}

/* .shadowBox {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 10.5%;
    left: 10.5%;
    z-index: 0;
    background-color: var(--main-color-light-1);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
} */

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30vw;
  max-width: 752px;
  height: 25vw;
  max-height: 575px;
  position: absolute;
  right: 3%;
  top: 20vh;
  padding: 2rem;
  background-color: var(--main-color-dark);
  z-index: 200;
  border-radius: 3rem 0 0 3rem;
  box-shadow: 0 1px 6px rgba(7, 27, 4, 0.815);
}

.textbox > h3 {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  font-size: var(--h4-font-size);
}

.textbox > h3::before {
  content: "About Us";
  font-family: var(--accent-font);
  font-weight: 600;
  font-size: var(--h2-font-size);
}

.textbox .desc {
  line-height: 2.5;
  color: #fff;
  font-size: var(--small-font-size);
}

.textbox .clrRvsBtn {
  width: 90px;
}

.movingText {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 1vh;
  font-size: 9rem;
  font-family: var(--accent-font);
  white-space: nowrap;
  line-height: 1.2;
  letter-spacing: -0.5rem;
  color: var(--main-color-dark);
  animation: 100s moveText linear infinite;
}

.movingText > p {
  margin: 0;
}

@keyframes moveText {
  to {
    transform: translateX(-1000%);
  }
}

/* =========== OUR MISSION SECTION =========== */
.ourMission_section {
  margin-bottom: var(--mb-8);
}

.ourMission_title h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: var(--h4-font-size);
  color: var(--main-color-dark);
  margin-bottom: var(--mb-4);
}

.ourMission_title h3::before {
  content: "Our Mission";
  font-family: var(--accent-font);
  font-weight: 600;
  font-size: var(--h2-font-size);
}

.card_area {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto var(--mb-3);
}

.card {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.5rem 1.5rem;
  margin: 0 1rem var(--mb-2) 1rem;
  background-color: #fffaef;
  box-shadow: 0px 5px 5px rgba(122, 107, 76, 0.745);
  border-radius: 0 3rem 0 0;
}

.card:hover {
  top: -10px;
  background-color: #fef8ec;
  box-shadow: 0px 10px 10px rgba(122, 107, 76, 0.84);
}

.mission_icon {
  width: 100px;
  margin-bottom: var(--mb-3);
}

.mission_title {
  font-size: var(--h4-font-size);
  font-weight: 500;
  color: var(--main-color-dark);
  margin-bottom: var(--mb-1);
}

.mission_number_text {
  font-size: var(--h2-font-size);
  font-weight: 700;
  color: var(--main-color-dark);
}

.updateDate_area {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.update_date {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

/* =========== BLOG SECTION =========== */
.blog_section {
  width: 100%;
  padding-bottom: var(--mb-7);
  background-color: #fff9ee;
}

/* BLOG SECTION TITLE */
.title {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-3);
}

.blog_section > .title > h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--h4-font-size);
  font-weight: normal;
  margin-top: var(--mb-7);
}

.blog_section > .title > h3::before {
  content: "Blog";
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  font-weight: 600;
}

/* ARTICLE AREA LAYOUT */
.article_area {
  width: 100%;
  margin: 0 0 var(--mb-6) 0;
  display: grid;
}

.article {
  padding: 1rem 1rem;
}

.article:hover {
  position: relative;
  top: -10px;
}

.article.article1 {
  grid-column: 1/2;
  grid-row: 1 / span 3;
}

.article2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.article3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.article4 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.article2,
.article3,
.article4 {
  display: flex;
}

.article.right > a {
  width: 50%;
}

.article.right > .article_text_container {
  width: 50%;
}

.article_image {
  width: 100%;
  border-radius: 0 3rem 0 0;
}

/* ARTICLE AREA TEXTS */
.article_category {
  font-size: var(--extra-small-font-size);
}

/* ARTICLE SECTION BUTTON */
.button_area {
  display: flex;
  justify-content: center;
}

/* =========== NEWS SECTION =========== */
.news_section {
  display: flex;
  height: 400px;
  margin-bottom: var(--mb-7);
  background-color: #edfae8;
}

.news_section .title_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: var(--main-color-dark);
  border-radius: 0 0 3rem 0;
  margin-bottom: 0;
}

.news_section h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: var(--h4-font-size);
  color: #fff;
}

.news_section h3::before {
  content: "News";
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  font-weight: 600;
  color: #fff;
}

.news_section .clrRvsBtn {
  width: 40%;
  text-align: center;
}

.news_list {
  width: 70%;
  text-align: center;
}

.news_list > ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
}

.news_list li {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.news_list p {
  display: inline-block;
  width: 80px;
}

.news_list p.tag {
  padding: 0.4rem 1.5rem;
  border: 0;
  border-radius: 0;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: #424242;
  color: #fff;
}

.news_list a {
  display: inline-block;
  width: 400px;
  text-align: left;
}

.news_list a:hover {
  position: relative;
  left: 10px;
  font-weight: 500;
  color: var(--main-color-dark);
}

.news_list time {
  margin-left: var(--mb-4);
  color: var(--text-color-light);
}

/* =========== INSTAGRAM SECTION =========== */
.instagram_section {
  width: 100%;
  margin-bottom: var(--mb-7);
}

.instagram_section h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--h4-font-size);
  font-weight: 400;
  color: var(--main-color-dark);
}

.instagram_section h3::before {
  content: "Instagram";
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: var(--mb-1);
  color: var(--main-color-dark);
}

.post_area {
  display: flex;
  margin: 0 auto var(--mb-6) auto;
  justify-content: center;
}

.post {
  width: 25%;
  max-width: 420px;
  margin: 0px 10px;
  border: 0.1px solid var(--main-color-dark);
  overflow: hidden;
}

.insta_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.insta_link:hover {
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
  transform: scale(1.05, 1.05);
}

.post img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.insta_img {
  width: 100%;
}

/* =========== STORE SECTION =========== */
.store_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

.store_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../images/index/offline.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.store_section > h3 {
  padding: 1.5rem 0 0.5rem 0;
  margin-bottom: var(--mb-1);
  text-align: center;
  color: #fff;
}

.store_text {
  text-align: center;
  line-height: 2.2;
  color: #fff;
  margin-bottom: var(--mb-3);
}

.store_section > button.monoBtn {
  width: 20vh;
}

/* =========== CONTACT SECTION =========== */
.contact_section {
  width: 100%;
  display: flex;
  height: 270px;
}

.contact.left {
  width: 50%;
  background-color: var(--gray-color-1);
}

.contact.left h3 {
  position: relative;
  margin-top: 4.5rem;
  font-size: var(--h4-font-size);
  font-weight: normal;
}

.contact.left h3::before {
  content: "Contact";
  position: absolute;
  top: -45px;
  left: -21px;
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  font-weight: 600;
  text-align: center;
}

.contact.right {
  width: 50%;
  background-color: var(--gray-color-2);
}

.contact.right h3 {
  position: relative;
  margin-top: 4.5rem;
  font-size: var(--h4-font-size);
  font-weight: normal;
}

.contact.right h3::before {
  content: "SNS";
  position: absolute;
  top: -45px;
  left: 11px;
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  font-weight: 600;
  text-align: center;
}

.contact.info > dl {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h4-font-size);
}

.contact.info dt {
  width: 50px;
}

.contact.info dd {
  width: 120px;
}

.snsIcons > ul {
  display: flex;
  margin: 0.5rem auto;
  justify-content: space-around;
}

.snsIcons li:hover {
  position: relative;
  top: -10px;
}

.snsIcons li:hover i,
.snsIcons li:hover span {
  color: var(--main-color-dark);
}

.snsIcons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snsIcons span {
  font-size: var(--small-font-size);
  text-align: center;
}

.snsIcons i {
  margin-bottom: var(--mb-1);
  font-size: 2.4rem;
  text-align: center;
}

/* .snsIcons i:hover {
    font-size: 2.5rem;
} */
