/* ==================== SUB PAGE COMMONS ==================== */
/* ========================================================== */
/* title */
.title_section > h1 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  margin-bottom: var(--mb-1);
  padding-bottom: var(--mb-4);
  font-size: var(--h4-font-size);
  font-weight: 400;
  text-align: center;
  color: var(--main-color-dark);
}

.wrapper {
  width: 100%;
}

/* ==================== PRODUCTS PAGE ==================== */
/* ======================================================= */

/* ==================== WRAPPER ==================== */

.title_section.products {
  padding-bottom: var(--mb-4);
  background-color: var(--main-color-light-2);
}

.title.products::before {
  content: "Products";
  font-family: var(--accent-font);
  font-size: var(--eng-title-font-size);
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-5);
  color: var(--main-color-dark);
}

.title_section.products > .title_desc {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: 1.8;
  color: var(--main-color-dark);
}

#main_section {
  display: flex;
}

/* ==================== CATEGORY ==================== */
#sidenav {
  width: 20%;
}

.category_title {
  width: 70%;
  margin: 1.5rem auto;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-family: var(--accent-font);
  font-size: var(--h4-font-size);
  font-weight: 400;
  color: var(--main-color-dark);
}

#sidenav li {
  box-sizing: content-box;
}

#sidenav li:hover > a {
  border-bottom: 2px solid var(--main-color-dark);
  color: var(--main-color-dark);
}

#sidenav li:hover span {
  color: var(--main-color-dark);
}

.category.all {
  width: 70%;
}

.category.all > li {
  padding: 1rem 0;
  /* border-bottom: 1px solid var(--gray-color-2); */
}

.category.products {
  width: 70%;
}

.category.products > li {
  padding: 1rem 0;
  /* border-bottom: 1px solid var(--gray-color-2); */
}

.quantity {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/* ==================== PRODUCTS LIST ==================== */
#products_section {
  width: 80%;
  margin: 0 auto;
}

.filter {
  width: 95%;
  margin: 0 auto;
}

.filter > ul {
  display: flex;
  justify-content: flex-end;
}

.filter li {
  margin: 1rem 2rem 1rem 0;
  font-size: var(--small-font-size);
}

.filter > ul > li:last-child {
  margin-right: 0;
}

#products_section .products_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.product_item {
  width: 33%;
  margin-bottom: var(--mb-6);
}

.product_image_wrap {
  width: 95%;
  overflow: hidden;
  border: 0.1px solid var(--main-color-dark);
}

.product_image {
  width: 100%;
  transition: all 0.5s;
}

.product_image:hover {
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
  transform: scale(1.05, 1.05);
}

.page_nav {
  width: 50%;
  margin: 0 auto var(--mb-4);
}

.page_nav > ul {
  display: flex;
  justify-content: space-around;
}

.page_nav li {
  color: var(--gray-color-2);
}

.page_nav .active {
  font-weight: 500;
  color: var(--main-color-dark);
  text-decoration: underline 1px var(--main-color-dark);
}

/* ==================== PRODUCTS DETAIL PAGE ==================== */
/* ============================================================== */
.product_detail_section {
  display: flex;
  width: 100%;
  margin-bottom: var(--mb-7);
}

/* PRODUCT DETAIL IMAGE AREA */
.product_detail_image_area {
  width: 50%;
  position: relative;
}

.product_detail_image {
  width: 100%;
}

.thumbnail_area {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}

.thumbnail {
  width: 50px;
  margin: 0.5rem;
  box-shadow: 0 4px 5px #9c9c9cbd;
}

.thumbnail:hover {
  cursor: pointer;
}

/* PRODUCT DETAIL AREA */
.product_detail_area {
  width: 50%;
  margin: 1rem 2rem;
}

.product_price {
  color: var(--main-color-dark);
  font-weight: 500;
  font-size: var(--h4-font-size);
}

.product_desc {
  font-size: var(--normal-font-size);
  line-height: 1.7;
  text-align: justify;
}

.product_review_area {
  display: flex;
  align-items: center;
}

.stars {
  font-size: var(--h3-font-size);
  margin-right: var(--mb-1);
  color: var(--main-color-dark);
}

.review_count {
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  margin-right: var(--mb-3);
}

a.more_review {
  font-size: var(--normal-font-size);
  padding: 0 0 0.3rem;
  border-bottom: 1px solid #000;
}

/* CHOICE AREA */

/* CAPACITY AREA */
.capacityLabel input[type="radio"] {
  display: none;
}

.capacity_area {
  display: flex;
  align-items: center;
}

.capacity_area > h4 {
  margin-right: var(--mb-3);
}

.capacityLabel input[type="radio"] + span {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: var(--normal-font-size);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 3rem;
  background: none;
  margin-right: var(--mb-2);
}

.capacityLabel input[type="radio"]:checked + span {
  background-color: var(--main-color-dark);
  color: #fff;
}

/* COLOR AREA */
.color_area {
  display: flex;
  align-items: center;
}

.color_area > h4 {
  margin-right: var(--mb-3);
}

.colorLabel input[type="radio"] {
  display: none;
}

.colorLabel input[type="radio"] + span {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 0.1rem;
  border-radius: 3rem;
  margin-right: var(--mb-2);
}

label[for="orange"] > span {
  background-color: #d68b25;
}

label[for="green"] > span {
  background-color: #367608;
}

label[for="blue"] > span {
  background-color: #3e5296;
}

.colorLabel input[type="radio"]:checked + span {
  outline: 1px solid #000;
}

/* QUANTITY AREA */
.quantity_area {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.quantity_area > h4 {
  margin-right: var(--mb-3);
}

.quantity_area > span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0.4rem 1rem;
  border: 1px solid var(--main-color-dark);
}

.quantity_area > #quantity {
  width: 30px;
  border-left: 0;
  border-right: 0;
  color: var(--main-color-dark);
  text-align: center;
}

.quantity_area > span.control {
  cursor: pointer;
  color: var(--main-color-dark);
}

.quantity_area > span.control:hover {
  background-color: var(--main-color-dark);
  color: #fff;
}

.choiceCheck_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-3);
}

.colorCheck::before {
  content: " | ";
}

.quantityCheck::before {
  content: " | ";
}

.button_area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button_area > a {
  margin: 0 0.5rem;
  text-align: center;
}

/* RELATED PRODUCTS SECTION */
.related_products_section > h3 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  margin-bottom: var(--mb-1);
  padding-bottom: var(--mb-4);
  font-size: var(--h4-font-size);
  font-weight: 400;
  text-align: center;
  color: var(--main-color-dark);
}

.related_products_section > h3::before {
  content: "Related Products";
  font-family: var(--accent-font);
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-5);
  color: var(--main-color-dark);
}

.related_products_list {
  display: flex;
  justify-content: center;
}

.related_product {
  width: 24%;
  margin: 0 1rem var(--mb-7);
}

.related_product_image {
  width: 100%;
}

/* BUTTON AREA */

/* ====================== LOGIN PAGE ====================== */
/* ======================================================= */
.wrapper.login {
  display: flex;
  margin-bottom: 0;
}

section.login_image {
  width: 50%;
  background: url(../images/login/login.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* section.login_image > img {
    width: 100%;
} */

section#login {
  width: 50%;
}

h1.login_title::before {
  content: "Login";
  font-family: var(--accent-font);
  font-size: var(--eng-title-font-size);
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-5);
  color: var(--main-color-dark);
}

/* LOGIN TAB */
.login_tab {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.login_tab:hover {
  cursor: pointer;
}

.login_tab h2 {
  font-size: var(--h4-font-size);
  font-weight: 400;
  text-align: center;
  color: var(--text-color-light);
}

.tab {
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.tab.active {
  border-bottom: 2px solid var(--main-color-dark);
}

.tab.active h2 {
  color: var(--main-color-dark);
}

.tab:hover h2 {
  color: var(--main-color-dark);
  font-weight: 500;
}

.tab:hover {
  border-bottom: 2px solid var(--main-color-dark);
}

/* LOGIN AREA */
.member_login {
  width: 70%;
  margin: 0 auto;
}

.guest_login {
  width: 70%;
  margin: 0 auto;
  display: none;
}

.form_login {
  margin: var(--mb-7);
}

.form_login label {
  display: inline-block;
  width: 120px;
}

.form_login input {
  display: inline-block;
  padding: 0.8rem 0.5rem 0.8rem 1.2rem;
  border: 1px solid var(--gray-color-2);
  border-radius: 3rem;
}

.form_login > button {
  display: block;
  margin: 0 auto;
}

.memberInfo > ul {
  width: 70%;
  margin: 2rem auto var(--mb-7);
  display: flex;
  justify-content: space-around;
}

/* ====================== JOIN PAGE ====================== */
/* ======================================================= */
/* section */
#join {
  margin-bottom: var(--mb-7);
}

/* title */
h1.join_title {
  background-color: var(--main-color-light-2);
}

h1.join_title::before {
  content: "Join";
  font-family: var(--accent-font);
  font-size: var(--eng-title-font-size);
  margin-bottom: var(--mb-1);
  color: var(--main-color-dark);
}

/* join nav */
.join_nav {
  width: 60%;
  margin: 0 auto var(--mb-7) auto;
}

.join_nav > ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.join_nav li {
  position: relative;
  padding: 0.6rem 1rem;
  margin-right: var(--mb-2);
  border: 1px solid var(--main-color-dark);
  font-size: var(--small-font-size);
  color: var(--main-color-dark);
}

.join_nav li::before {
  position: absolute;
  top: -1px;
  left: -3rem;
  padding: 0.6rem 1rem;
  content: "01";
  font-size: var(--small-font-size);
  border: 1px solid var(--main-color-dark);
  background-color: var(--main-color-dark);
  color: #fff;
}

/* formSign */
.formSign_area {
  margin-top: var(--mb-5);
}

.formSign {
  width: 60%;
  margin: 0 auto 10px auto;
  text-align: right;
  font-size: var(--small-font-size);
}

.required::before {
  content: " *";
  color: var(--main-color-dark);
}

/* join form */
fieldset {
  width: 60%;
  margin: 0 auto;
  border: 0;
  line-height: 3;
}

legend {
  padding: 1px;
  border-bottom: 2px solid var(--main-color-dark);
  font-weight: 500;
}

#join_form label {
  display: inline-block;
  width: 150px;
  font-weight: 500;
}

#join_form input {
  display: inline-block;
  padding: 0.8rem 0.5rem 0.8rem 1.2rem;
  border: 1px solid var(--gray-color-2);
  border-radius: 3rem;
}

a.idCheck,
a.findZipcode {
  font-size: var(--small-font-size);
  text-align: center;
  margin-left: var(--mb-1);
}

a.idCheck.clrBtn,
a.findZipcode.clrBtn {
  display: inline-block;
  width: 120px;
  padding: 0.01em 0.01rem;
}

p.address_area {
  height: 110px;
}

#address {
  position: relative;
  top: 60px;
  left: -208px;
}

.mailing {
  margin-bottom: var(--mb-6);
}

.mailing > em {
  display: inline-block;
  width: 150px;
  font-style: normal;
  font-weight: 500;
}

.mailing > span {
  font-size: var(--small-font-size);
}

.mailing > input,
.mailing > label {
  position: relative;
  left: 150px;
}

label.mailing_label {
  margin-left: var(--mb-1);
  font-weight: 400;
}

#join_form .button_area {
  display: flex;
  justify-content: center;
}

button.cancel {
  margin-right: var(--mb-2);
}

.clrFilledBtn.join:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(5, 23, 2, 0.72);
}
